html {
  font-size: 30px;
}

p {
  font-size: 2em;
}

div {
  width: 300px;
  height: 300px;
  margin: 4rem;
  font-size: 0.rem;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#grey {
  background-color: grey;
}









